.container
  height: -webkit-fill-available
  display: flex
  flex-direction: column
  gap: 24px
  background-color: #F2F2F2
  padding: 24px
  overflow: auto
  overflow-x: hidden

.title
  font-size: 32px

.chip
  display: flex
  align-items: center
  padding: 2px 12px
  background-color: #DFDFDF
  border-radius: 100px
  font-size: 13px
  width: fit-content
  color: black
